/****************** General Style *****************/
*{
margin: 0;
padding: 0;
box-sizing: border-box;}

body{
background: #333333;}

a{
    text-decoration: none;
    color: #000;
}

:root{
    --button-color: #14d402;
}
/****************** GRID STYLE ******************/

.grid-container{
display: grid;
max-width: 1140px;
margin: 20px auto;
text-align: center;
/* grid-template-columns: repeat(4,1fr); */
grid-template-columns: repeat(auto-fit,minmax(250px,auto));
}


.grid-item{
    background-color: #fff;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 20px;
    

}
.grid-item img{
    width: 100%;
}
.grid-item h3{
    font-size: 24px;
}
.grid-item button{
    margin-top: 10px;
    padding: 5px;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
}
.grid-item button a{
    color: #fff;
}

/* @media (max-width:900px) {
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
    
} */